@page
@using ups.delivey.portal.Models
@model ups.delivey.portal.Pages.Product.IndexModel
@{

}

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <td class="font-weight-bold"> Nombre</td>
            <td class="font-weight-bold">Cantidad</td>
            <td class="font-weight-bold">Categoria</td>
            <td class="font-weight-bold">Valor</td>
        </tr>
        @foreach (var Product in Model.ListProduct)
        {
            <tr>
                <td>@Product.Nombre</td>
                <td>@Product.Cantidad</td>
                <td>@Product.Categoria</td>
                <td>@Product.Valor</td>
            </tr>
        }
    </table>
</div>