@page
@model ups.delivey.portal.Pages.Tracking.IndexModel
@{
}

<div>
    <table>
        <tr>
            <td>prueba</td>
            <td>prueba</td>
            <td>prueba</td>
            <td>prueba</td>
        </tr>
    </table>
</div>
